mixin article-card(item)
	a.article-item(href=item.link)
		.article-item__top
			img(src=item.srcPhoto, alt=item.title)
		.article-item__bottom
			p.article-item__title!= item.title
			p.article-item__desc!= item.desc
			p.article-item__link
				span Читать далее
				i.fico.fico-arrow


-
	const articlesDiabet = [
		{
			srcPhoto: 'img/article-main-1.jpg',
			title: 'Побеждаем диабет',
			desc: 'На сегодняшний день повышенный уровень сахара успешно терапевтируется, а его негативные проявления — купируются при помощи грамотно выстроенной стратегии лечения.',
			link: 'article-1.html'
		},
		{
			srcPhoto: 'img/article-main-2.jpg',
			title: 'Продукты с низким гликемическим индексом',
			desc: 'Гликемический индекс (ГИ) — это величина, используемая для измерения того, насколько определенные продукты повышают уровень сахара в крови.',
			link: 'article-2.html'
		},
		{
			srcPhoto: 'img/article-main-3.jpg',
			title: 'Питание при контроле сахара',
			desc: 'При контроле сахара важно придерживаться определенного типа здорового питания, но это совершенно не значит, что ваша еда будет пресной и невкусной.',
			link: 'article-3.html'
		},
		{
			srcPhoto: 'img/article-main-4.jpg',
			title: 'Народные секреты целительства',
			desc: 'Исследователи утверждают, что ароматные эфирные масла, такие как пажитник, корица, тмин и орегано, помогают снизить систолическое артериальное давление.',
			link: 'article-4.html'
		},
	];


-
	const articlesHealth = [
		{
			srcPhoto: 'img/article-main-5.jpg',
			title: '5 шагов к здоровью сердечно сосудистой&nbsp;системы',
			desc: 'По данным ВОЗ на конец 2020 года гипертония имеется у 1,13 миллиарда человек в мире. 2 из 5-ти не знают о своём диагнозе. И только каждый 10-й гипертоник получает лечение.',
			link: 'article-5.html'
		},
		{
			srcPhoto: 'img/article-main-6.jpg',
			title: 'Приборы для измерение артериального давление',
			desc: ' Механические тонометры требуют участия стороннего человека и дают точные показания лишь в том случае, если измерения проводятся профессионалом.',
			link: 'article-6.html'
		},
		{
			srcPhoto: 'img/article-main-7.jpg',
			title: 'Контролируйте свой вес, сахар и холестерин',
			desc: 'При контроле сахара важно придерживаться определенного типа здорового питания, но это совершенно не значит, что ваша еда будет пресной и невкусной.',
			link: 'article-7.html'
		},
		{
			srcPhoto: 'img/article-main-8.jpg',
			title: 'Дышите полными легкими и живите свободно',
			desc: 'Дыхательные упражнения (метод Шишонина, дыхание по Евдокименко) для снижения артериального давления.',
			link: 'article-8.html'
		},
	];

-
	const articlesSlimming = [
		{
			srcPhoto: 'img/article-main-9.jpg',
			title: 'Нормальный вес и его преимущества',
			desc: 'Как показывает статистика, позитивное мышление помогает в достижении результатов в&nbsp;3&nbsp;раза быстрее.',
			link: 'article-9.html'
		},
		{
			srcPhoto: 'img/article-main-10.jpg',
			title: 'О калориях в еде',
			desc: 'Определите свои рамки калорийности пищи в сутки.',
			link: 'article-10.html'
		},
		{
			srcPhoto: 'img/article-main-11.jpg',
			title: 'Физическая и психологическая составляющая',
			desc: 'Психологи нашли закономерность между неудовлетворенностью жизнью, стрессами и избыточным весом.',
			link: 'article-11.html'
		},
		{
			srcPhoto: 'img/article-main-12.jpg',
			title: 'Как следует заполнять дневник здоровья',
			desc: 'Мысль рождает действие, действие - привычку, привычка - характер, характер - судьбу! Ваша новая судьба — стройность!',
			link: 'article-12.html'
		},
	];


header.header-blog
	.container
		h1.header-blog__title Профилактика здоровья
		.header-blog__wrapper
			.header-blog__tabs
				p.header-blog__tab.active.js-tab(data-target="#diabet") диабет
				p.header-blog__tab.js-tab(data-target="#health") здоровье
				p.header-blog__tab.js-tab(data-target="#slimming") похудение
			.header-blog__right
				.header-blog__list#diabet.active.js-articles
					each article in articlesDiabet
						+article-card(article)
				.header-blog__list#health.js-articles
					each article in articlesHealth
						+article-card(article)
				.header-blog__list#slimming.js-articles
					each article in articlesSlimming
						+article-card(article)