mixin article-item(item)
	a.article-item(href=item.link)
		.article-item__top
			img(src=item.srcPhoto, alt=item.title)
		.article-item__bottom
			p.article-item__title!= item.title
			p.article-item__desc!= item.desc
			p.article-item__link
				span Читать далее
				i.fico.fico-arrow

-
	const articles = [
		{
			srcPhoto: 'img/article-main-9.jpg',
			title: 'Нормальный вес против лишнего веса',
			desc: 'Как показывает статистика, позитивное мышление помогает в достижении результатов в 3 раза быстрее.',
			link: 'article-9.html'
		},
		{
			srcPhoto: 'img/article-main-5.jpg',
			title: '5 шагов к здоровью сердечно-сосудистой системы',
			desc: 'Согласно статистике на конец 2020 года от повышенного давления страдает более 1,13 миллиарда человек в мире. Каждый третий человек не знает о своей проблеме. И только каждый 10-й обращается к специалисту и получает рекомендации по восстановлению.',
			link: 'article-5.html'
		},
		{
			srcPhoto: 'img/article-main-1.jpg',
			title: 'Жизнь с сахаром: контроль показателей',
			desc: 'В современном мире повышенный уровень сахара в крови успешно корректируется, а его признаки и осложнения можно предотвратить. Это позволяет людям с этой проблемой жить полноценной жизнью. Главное — грамотно выстроенная терапевтическая программа!',
			link: 'article-1.html'
		}
	];


section.articles
	.container
		h2.articles__title.title Самые актуальные статьи о здоровье
		.articles__list
			each article in articles
				+article-item(article)
		a.articles__btn.btn.btn--empty(href="blog.html") Посмотреть все