mixin article-item(item)
	a.article-item(href=item.link)
		.article-item__top
			img(src=item.srcPhoto, alt=item.title)
		.article-item__bottom
			p.article-item__title!= item.title
			p.article-item__desc!= item.desc
			p.article-item__link
				span Читать далее
				i.fico.fico-arrow

-
	const articles = [
		{
			srcPhoto: 'img/article-main-9.jpg',
			title: 'Нормальный вес и его преимущества',
			desc: 'Как показывает статистика, позитивное мышление помогает в достижении результатов в&nbsp;3&nbsp;раза быстрее.',
			link: 'article-9.html'
		},
		{
			srcPhoto: 'img/article-main-5.jpg',
			title: '5 шагов к здоровью сердечно сосудистой системы',
			desc: 'По данным ВОЗ на конец 2020 года гипертония имеется у 1,13 миллиарда человек в мире. 2 из 5-ти не знают о своём диагнозе. И только каждый 10-й гипертоник получает лечение.',
			link: 'article-5.html'
		},
		{
			srcPhoto: 'img/article-main-1.jpg',
			title: 'Побеждаем диабет',
			desc: 'На сегодняшний день повышенный уровень сахара успешно терапевтируется, а его негативные проявления — купируются при помощи грамотно выстроенной стратегии лечения.',
			link: 'article-1.html'
		}
	];


section.articles
	.container
		h2.articles__title.title Самые актуальные статьи о здоровье
		.articles__list
			each article in articles
				+article-item(article)
		a.articles__btn.btn.btn--empty(href="blog.html") Посмотреть все